applicationName:

spark:
  streamInterval:
  master:

cassandra:
  host:
  port:
  keyspace:
  username:
  password:

aws:
  region:
  accessKey:
  secretKey:
  sqs:
    consumeQueue:
      address:
      maxMessages:
    produceQueue:
      address:
      maxMessages: